<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>

    <% if (error) { %>
    <p>Error finding data</p>
    <%} else { %>
    <h2>Current inventory total: <%= data.shoe_count %> shoes</h2>
    <% } %>
  </body>
</html>
