<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>

    <% if (err !== undefined) { %>
    <p>Error finding data</p>
    <%} else { %>
    <div><%- include('./partials/nav') %></div>
    <div><%- include('./partials/'+page); %></div>
    <% } %>
  </body>
</html>
